<br>
<h4 style="text-align: center;">ENVÍO DE MENSAJE A LOS USUARIOS REGISTRADOS</h4>
<hr>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<div ng-show="loading && !terminado">
    <img class="img-responsive center-block" ng-src="images/loading.gif" alt="Cargando..." />
</div>
<form ng-hide="loading || terminado" novalidate angular-validator angular-validator-submit="send(mensaje, 'btnSendMensaje')" name="MensajeSend">
    <div class="form-group">
        <label for="txtAsunto">Asunto</label>
        <input id="txtAsunto" class="form-control" type="text" ng-model="mensaje.asunto"
            name="mensajeAsunto" required required-message="'Este campo es requerido'" 
            invalid-message="'Sólo se admite letras'" validate-on="blur">
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="txtDesde">Desde (email)</label>
            <input id="txtDesde" class="form-control" type="email" ng-model="mensaje.desde"
                name="mensajeDesde" required required-message="'Este campo es requerido'" 
                invalid-message="'Ingrese un email válido'" validate-on="blur">
        </div>
        <div class="form-group col-sm-6">
            <label for="txtEmisor">Emisor</label>
            <input id="txtEmisor" class="form-control" type="text" ng-model="mensaje.emisor"
                name="mensajeEmisor" required required-message="'Este campo es requerido'" validate-on="blur">
        </div>
    </div>
    <div class="form-group">
        <label for="txtaCuerpo">Mensaje</label>
        <textarea id="txtaCuerpo" class="form-control" style="height: 250px;" ng-model="mensaje.cuerpo" 
            name="mensajeCuerpo" required ui-tinymce="tinymcePagesOptions">
        </textarea>
        <input style="display: none;" id="flImagen" type="file" class="form-control" ngf-select="upload($file, $invalidFiles)" 
            accept="image/*" ngf-max-height="5000" ngf-max-size="10MB" name="imagen"/>
    </div>
    <div class="form-group">
        <button id="btnSendMensaje" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send"></span> <span class="btnText">Enviar</span></button>
    </div>
</form>
<br>
<br>